<!DOCTYPE html>
<html lang="en">
	<head>
		<title></title>
		<meta charset="UTF-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1"/>
		<link href="./styles/contact_email.css" rel="stylesheet"/>
	</head>
	<body>
		<div style="width: 80%">
			<div style="width: 100%; text-align: left">
				<p>
					<span style="color: #5ea3ce; font-weight: bold; margin-right: 3.5px">ID Consulta:</span>
					#{{ id }}
				</p>
			</div>
			<div style="width: 100%; text-align: left">
				<p>
					{{ sender_name }}
					|
					{{ company_name }}
				</p>
				<p>
					<span style="color: #5ea3ce; font-weight: bold; margin-right: 3.5px">Teléfono:</span>
					{{ telf }}
				</p>
			</div>
			<div style="text-align: left">
				<p style="color: #5ea3ce; font-weight: bold">—</p>
			</div>
			<div style="width: 100%; text-align: left">
				{{ consult }}
			</div>
		</div>
	</body>
</html>
